@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
#convo::-webkit-scrollbar,
#users::-webkit-scrollbar,
#elementsList::-webkit-scrollbar,
#users_list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#users,
#elementsList,
#users_list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */


}

@media (max-width:1024px) {
    html {
        font-size: 14px;
    }

}

:root {

    --dark-shadow-color: #212529;
    --white-shadow-color: #616161;
    --secondary-color: #00141f;
    --main-color: #e2e2e2;
    --dark-text-color: #353535;
    --white-text-color: #e7e7e7;
}

* {
    box-sizing: border-box;
}

#add_form,
#popup>button,
body,
.Icon {
    color: var(--dark-text-color);
}

#elementsList,
#welcome,
#groups,
#card,
nav {
    color: var(--white-text-color);
}

#profile,
#mobileSlide,
footer,
#home,
#login,
#sign,
#chat,
#addForm,
#popup>button {
    background-color: var(--main-color);
}


#card,
#welcome,
#signForm,
input,
#addForm>button,
#PopupParent,
#EditPopup,
.searchedUser,
#loginForm {
    color: var(--white-text-color);
    background-color: var(--secondary-color);
}

#processingBtn,
#searchedUsers,
#loginform,
#signform,
input,
#signForm>button,
#loginForm>button {
    outline: 0;
    border: 0;
    box-shadow: 0 0 5px 0px var(--white-shadow-color);
}

nav {
    color: var(--white-text-color);
    height: 70px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px 0px var(--dark-shadow-color);
}

#processingBtn,
#editCard button,
#card button,
#welcome>button,
#signForm>button,
#loginForm>button,
#users_list {
    background-color: var(--dark-shadow-color);
    color: var(--white-text-color);
}


.error,
#cancelIcon,
#error,
#deleteError {
    border-color: #ee2e6e;
    color: #ee2e6e;
}



.message,
#message {
    border-color: #5ab19a;
    color: #5ab19a;
}

.msgLeft,
.msgRight,
.elements {
    color: var(--white-text-color);
    max-width: 110px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px 0px var(--dark-shadow-color);
}

.slideElements {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px 0px var(--dark-shadow-color);
}

.elements {
    background-color: var(--secondary-color);
}

@media (min-width: 600px) {

    .msgLeft,
    .msgRight,
    .elements {
        max-width: 300px;
    }
}

@media (min-width: 1200px) {

    .msgLeft,
    .msgRight,
    .elements {
        max-width: 800px;
    }
}

.msgLeft {
    align-self: flex-start;

}

.msgRight {
    align-self: flex-end;
}

#chat {

    height: calc(100vh - 70px);
}

#elementsList {
    height: calc(100vh - 160px);
}

@media (min-width:1000px) {
    #elementsList {
        height: calc(100vh - 70px);
    }
}

#popup {
    transform: translateY(-50%);
}




#users_list {
    top: 20%;
}

.addUserMessage {
    top: 12%;
}

#EditPopup {
    background-color: var(--main-color);
}

#editCard {
    background-color: var(--secondary-color);
}